.viewgroupcontainer {
    background-color: rgb(2, 183, 150);
    margin-bottom: 1%;
    height: 6vh;
}
.viewgroupwrapper-container{
    
    align-items: center;
    display: flex;
    flex-direction: column;
}
.viewgroupwrapper{
    margin-top: 10px;
    width: 1000px;
}
.close {
  position: absolute;
  padding-right: 42%;
  padding-top: 22%;
  cursor: pointer;
  font-size: 20px;
  color: #333; 
}

.yourgroups{
  padding-left: 10%;
  color: black;
  font-weight: bold;
  font-size: x-large;
}
.viewgroupbody {

    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    background-color: whitesmoke;
}


.viewgroupcontainer {
    position: relative;
  }
  
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .newgroup{
    color:black
  }