.container{
    background-color: rgb(2, 183, 150);
    height: 6vh;
}

.body{
    padding-top: 5%;
    background-color: whitesmoke;
    height: 85vh;
    padding-left: 20%;
}
.containertext{
    
    padding-left: 10%;
    font-family:serif;
    font-size:xx-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.displaycard{
    display: flex;
}
.owecard{
    background-color: white;
    height: 100px;
    width:240px;
    padding-top: 1%;
    margin-right: 20%;
}
.getcard{
    background-color: white;
    height: 100px;
    width:240px;
    padding-top: 1%;
}
.youowetext{
    padding-left: 20%;
    font-family:serif;
    font-size:large;
    font-weight: bold;
    color: rgb(19, 19, 19);  
}

.amount{
    padding-left: 30%;
    font-size: x-large;
}