.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: white;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 183, 150);   
  color: white;
  width: 50%;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.login {
  transform: translateX(0%);
}

.signup {
  transform: translateX(100%);
}

.slider-content {
  text-align: center;
}

.toggle-btn {
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.slider-text {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.toggle-link {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.login-form input,
.signup-form input {
  width: 400px;
  height: 30px; 
  
}

.form-container {
  flex: 1;
}

.login-form {
  transform: translateX(0%);
  padding-left: 10%;
  padding-top: 20%;
}

.signup-form {
  transform: translateX(-100%);
  padding-left: 10%;
  padding-top: 20%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  margin-bottom: 8px; 
  padding: 10px; 
}
.login-form label,
.signup-form label {
  color: black;
}
.login-form input,
.signup-form input {
  width: 50%;
  color: black;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}

button {
  background-color: rgb(2, 183, 150);   
  margin-top: 5%;;
  color: white;
  border: none;
  width: 100px; 
  height: 40px;
  cursor: pointer;
  border-radius: 5px;   
}

button:hover {
  background-color: rgb(172, 248, 234);
}
